<div class = "row">
        <div class = "col s6" id = "signin">
                     <form>
                          <label id ="lgmsg"></label>
                           <input class="materialize-textarea" type = "text"  id = "htsemail" name = "htsemail" placeholder="Enter Email Address"><br /><br />
                           <input class="materialize-textarea" type = "text"  id = "htspwd" name = "htspwd" placeholder="Enter Password"><br />
                           <button class="btn waves-effect waves-light" id = "htlogin">Sign In</button>
                       </form>
        </div>
          <div class = "col s6" id = "create">
                    <img></img>
                    <h4>Everybody has a Wish list!!!</h4>
                    <button class="btn waves-effect waves-light"><a href = "/users/login" id ="createlogin" class="header">Create an account</a></button>
        </div>
        <div class = "container" > <img id = "frontimg" class="responsive-img" src = "https://media.licdn.com/mpr/mpr/AAEAAQAAAAAAAAjJAAAAJGZiYTlhYjViLTg3NTAtNGJhYy05YzNiLWUyMTk4ZTM1Y2UwMw.jpg"</div>
</div>
